html,
body {
  margin: 0;
  overflow: hidden;
  overflow: hidden;
  position: relative;
}

.block {
  display: inline-block;
  padding-right: 1em;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

div,
table,
span {
  font-size: 1rem;
}

#tooltip {
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  background-color: #000000CC;
  color: #FFFFFF;
  z-index: 1;
}

.annotation {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: default;
}

.tooltip-header-row {
  display: flex;
  margin: auto;
  height: 3rem;
}

.tooltip-header-span {
  margin: auto;
  text-align: center;
  font: normal normal bold 18px/30px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.tooltip-cell-right {
  font-weight: bold;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;

  text-align: center;
  font: normal normal bold 14px/19px Open Sans;
  letter-spacing: 0px;
  /* color: #29FF00; */
  opacity: 1;
}

.tooltip-cell-left {
  padding-left: 5px;
  padding-right: 20px;

  text-align: left;
  font: normal normal normal 14px/19px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

.tooltip-spacer {
  width: 2px;
  background-color: white;
  opacity: 0.75;
}

.annotation.red {
  background-color: red;
}

.annotation.orange {
  background-color: orange;
}

.annotation.green {
  background-color: green;
}

.annotation.yellow {
  background-color: yellow;
}

.annotation span {
  color: white;
}