@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Medium';
  src: url('/fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html,
body {
  margin: 0;
  overflow: hidden;
  overflow: hidden;
  position: relative;
  font: normal normal bold 18px/30px Open Sans;
}

.block {
  display: inline-block;
  padding-right: 1em;
}

.p0 {
  padding: 0;
}

.m0 {
  margin: 0;
}

div,
table,
span {
  font-size: 1rem;
}

#tooltip {
  position: absolute;
  color: #000000;
  /* opacity: 0.90;
  background: #FFFFFF; */
  z-index: 3;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 20px;
}

.tooltip-header-row,
.passport-link-wrapper,
#tooltip table {
  background: #FFFFFF;
  opacity: 90%;
}

#tooltip table {
  border-radius: 10px 10px 10px 10px;
}

.passport-link-wrapper a {
  text-decoration: none;
  color: #000000;
  width: 100%;
  display: block;
}

table p:only-child {
  border-radius: 10px;
}

.passport-link-wrapper a:hover {
  opacity: 0.5;
}

/* .passport-link-wrapper {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 1s;
} */

.passport-link-wrapper.visible {
  opacity: 90%;
}

.passport-link-wrapper {
  margin: 1rem 0;
  padding: 0.5rem;
  text-align: center;
  border-radius: 10px;
  ;
}

#tooltip th:first-child,
table td:first-child {
  border-bottom-left-radius: 5px;
}

#tooltip th:last-child,
table td:last-child {
  border-bottom-right-radius: 5px;
}

#tooltip tr:last-child td:first-child {
  padding-bottom: 5px;
}

.annotation {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  border: 2px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
  cursor: pointer;
}

.tooltip-header-row {
  border-radius: 10px 10px 0 0;
  display: flex;
  margin: auto;
  height: 3rem;
}

.tooltip-spacer-row {
  height: 15px;
}

span.tooltip-header-span {
  font: normal normal bold 14px/20px Open Sans Bold;
  padding-left: 3rem;
  padding-right: 3rem;
}

.tooltip-header-span {
  margin: auto;
  text-align: center;
  font: normal normal bold 18px/30px Open Sans;
  letter-spacing: 0px;
  opacity: 1;
}

.tooltip-cell-right {
  text-align: center;
  padding-left: 15px;
  padding-right: 20px;

  text-align: right;
  font: normal normal normal 12px/15px Open Sans Bold;
  letter-spacing: 0px;
  /* color: #29FF00; */
  opacity: 1;
  padding-top: 3px;
  padding-bottom: 3px;
}

.tooltip-cell-left {
  padding-left: 35px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;

  text-align: left;
  font: normal normal normal 12px/15px Open Sans Medium;
  letter-spacing: 0px;
  opacity: 1;
}

.tooltip-spacer {
  width: 2px;
  background-color: white;
  opacity: 0.75;
}

.annotation.red {
  background-color: red;
}

.annotation.orange {
  background-color: orange;
}

.annotation.green {
  background-color: green;
}

.annotation.yellow {
  background-color: yellow;
}

.annotation span {
  color: white;
}

.text-black {
  color: #000000;
}

.text-red {
  color: #FF0000;

}

.text-orange {
  color: #E6BF00;
}
